<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Confirm payment</title>
    <script
      src="https://js.stripe.com/dahlia/stripe.js"
      {%
      csp_nonce_attr
      %}
    ></script>
  </head>
  <body>
    <form id="payment-form" data-secret="{{ client_secret }}">
      <div id="payment-element">
        <!-- Elements will create form elements here -->
      </div>
      <button id="submit">Confirm payment</button>
    </form>
    <script nonce="{{ csp_nonce }}">
      console.log("started script");
      var stripe = Stripe("{{ pub_key }}");
      const options = {
        clientSecret: "{{client_secret}}",
      };
      const elements = stripe.elements(options);
      const paymentElementOptions = { layout: "accordion" };
      const paymentElement = elements.create("payment", paymentElementOptions);
      paymentElement.mount("#payment-element");

      var paymentForm = document.addEventListener("submit", async (event) => {
        event.preventDefault();
        console.log("started processing");
        console.log("Nonce value:", "{{ csp_nonce }}");
        const { paymentIntent, error } = await stripe.confirmPayment({
          //`Elements` instance that was used to create the Payment Element
          elements,
          confirmParams: {
            return_url: window.location.origin + "/paymentSuccess/",
          },
        });
        console.log(error);
        if (error) {
          console.log("/paymentError/{{error.message}}");
          window.location.href =
            "message" in error
              ? "/paymentError/{{error.message}}"
              : "/paymentError/";
        } else {
          if (paymentIntent.status === "succeeded") {
            window.location.href = "/paymentSuccess/";
          }
        }
      });
    </script>
  </body>
</html>
